<app-navbar></app-navbar>
<div class="flex justify-center pt-52 pb-44 bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-semibold mb-4">About Us</h2>

    <div class="grid grid-cols-2 gap-8">
      <div>
        <h3 class="text-xl font-semibold mb-2">Our Mission</h3>
        <p class="mb-4">
          At JobSearch, our mission is to connect job seekers with meaningful
          employment opportunities and empower them to achieve their career
          goals.
        </p>
        <p class="mb-4">
          We strive to provide a user-friendly platform that offers innovative
          tools and resources to simplify the job search process and foster
          professional growth.
        </p>
      </div>

      <div>
        <h3 class="text-xl font-semibold mb-2">Our Vision</h3>
        <p class="mb-4">
          Our vision is to be the leading online destination for job seekers and
          employers alike, recognized for our commitment to excellence,
          integrity, and customer satisfaction.
        </p>
        <p class="mb-4">
          We envision a future where every individual has access to fulfilling
          employment opportunities that align with their skills, interests, and
          values.
        </p>
      </div>
    </div>

    <hr class="my-8" />
  </div>
</div>
