<app-navbar></app-navbar>
<div class="flex items-center justify-center pt-44 pb-32 bg-gray-100">
  <form
    class="shadow-md rounded-md"
    style="
      background-color: white;
      margin-right: 100px;
      margin-left: 100px;
      width: 100%;
    "
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <!-- <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Đang đăng kí..."> -->
    <div class="text-center mb-4" style="width: 100%">
      <h1 class="font-bold text-2xl mt-3">Đổi mật khẩu</h1>
    </div>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
        <span>Mật khẩu cũ</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your old password!"
      >
        <input
          nz-input
          id="nickname"
          formControlName="oldpassword"
          type="password"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
        >Mật khẩu mới</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your password!"
      >
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
        >Nhập lại mật khẩu mới</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
        />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please confirm your password!</ng-container
          >
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      nz-row
      class="register-area"
      style="margin-left: auto; margin-right: auto"
    >
      <nz-form-control [nzSpan]="14" [nzOffset]="10">
        <button nz-button nzType="primary">Đổi mật khẩu</button>
      </nz-form-control>
    </nz-form-item>
    <!-- </nz-spin> -->
  </form>
</div>
