<div class="bg-gray-50">
  <div class="flex flex-col min-h-screen">
    <router-outlet></router-outlet>

    <!-- footer -->
    <footer class="mt-auto">
      <div
        class="py-16 flex justify-center gap-3"
        style="background-color: #1e2b41"
      >
        <div style="flex-basis: 30%" class="flex items-center justify-center">
          <img
            src="assets/images/logo.png"
            class="w-10 h-10"
            alt="loading..."
          />
        </div>
        <div style="flex-basis: 17.5%" class="flex flex-col text-white">
          <p class="font-bold text-xl">Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
        </div>
        <div style="flex-basis: 17.5%" class="flex flex-col text-white">
          <p class="font-bold text-xl">Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
        </div>
        <div style="flex-basis: 17.5%" class="flex flex-col text-white">
          <p class="font-bold text-xl">Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
        </div>
        <div style="flex-basis: 17.5%" class="flex flex-col text-white">
          <p class="font-bold text-xl">Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
          <p>Company</p>
        </div>
      </div>
      <div class="py-2" style="background-color: #132036">
        <p class="text-center text-white">
          Copyright © 2020 . All Rights Reserved.
        </p>
      </div>
    </footer>
  </div>
</div>
