<app-navbar></app-navbar>
<div class="flex justify-center pt-52 pb-44 bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-semibold mb-4">Privacy Policy</h2>

    <div>
      <p class="text-lg mb-4">
        At JobSearch, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our services.
      </p>
      <p class="text-lg mb-4">
        By accessing or using our platform, you agree to the terms of this Privacy Policy. Please read it carefully to understand our practices regarding your personal data.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Collection of Information</h3>
      <p class="text-lg mb-4">
        We collect information from you when you register on our site, fill out a form, or interact with our platform in any other way. The types of personal information we may collect include your name, email address, phone number, and any other information you provide to us.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Use of Information</h3>
      <p class="text-lg mb-4">
        We may use the information we collect from you to personalize your experience, improve our platform, communicate with you, and provide customer support. We may also use your information to send you promotional emails or newsletters.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Security</h3>
      <p class="text-lg mb-4">
        We are committed to ensuring the security of your personal information and take appropriate measures to protect it from unauthorized access, disclosure, alteration, or destruction.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Contact Us</h3>
      <p class="text-lg mb-4">
        If you have any questions or concerns about our Privacy Policy, please contact us at jobsearch.com.
      </p>
    </div>
  </div>
</div>
