<div class="pl-3">
  <h1 class="text-center mt-3 font-bold text-xl">
    Các chuyên ngành hiện có trong công ty
  </h1>
  <button
    class="bg-blue-500 hover:bg-blue-300 text-white p-1 rounded-md"
    (click)="showModal()"
  >
    Thêm một chuyên ngành mới
  </button>

  <nz-table [nzShowPagination]="false" #basicTable [nzData]="listJobCategory">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên</th>
        <th>Hình ảnh</th>
        <th>Ngày tạo</th>
        <th>Ngày cập nhập</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listJobCategory; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.name }}</td>
        <td>
          <img
            class="w-28 h-28"
            [src]="'data:image/jpeg;base64,' + data.image"
            alt="Image"
          />
        </td>
        <td>{{ data.create_At }}</td>
        <td>{{ data.update_At }}</td>
        <td>
          <button
            class="w-24 bg-blue-500 hover:bg-blue-300 text-white p-1 rounded-md mr-5"
            (click)="showModalUpdate(data.name, data.id)"
          >
            Cập nhập
          </button>
          <button
            class="w-24 bg-red-500 hover:bg-red-300 text-white p-1 rounded-md"
            (click)="deleteJobCategory(data.id)"
          >
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="flex justify-center" *ngIf="totalPage > 0">
    <nz-pagination
      [nzPageIndex]="page"
      [nzTotal]="totalPage * 10"
      (nzPageIndexChange)="pageActive($event)"
    ></nz-pagination>
  </div>
  <nz-modal
    [(nzVisible)]="isVisibleAdd"
    nzTitle="Tạo một chuyên ngành mới"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <nz-spin [nzSpinning]="isAddSpinning" [nzSize]="'large'" nzTip="Đang Thêm">
      <ng-container *nzModalContent>
        <form [formGroup]="addForm">
          <div class="grid grid-cols-1 mb-2">
            <label for="name" class="block">Tên chi nhánh</label>
            <input
              type="text"
              id="name"
              class="w-full border border-gray-300 rounded-md px-3 py-2 outline-blue-300"
              formControlName="name"
            />
          </div>
          <div class="grid grid-cols-1">
            <label for="image" class="block">Hình ảnh</label>
            <input
              type="file"
              title="Chọn ảnh"
              accept="image/*"
              id="image"
              (change)="onFileSelected($event)"
              class="w-full border border-gray-300 rounded-md px-3 py-2 outline-blue-300"
            />
          </div>
        </form>
      </ng-container>
    </nz-spin>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isVisibleUpdate"
    nzTitle="Cập nhập"
    (nzOnCancel)="handleCancelUpdate()"
    (nzOnOk)="handleOkUpdate()"
  >
    <nz-spin
      [nzSpinning]="isUpdateSpinning"
      [nzSize]="'large'"
      nzTip="Đang cập nhập"
    >
      <ng-container *nzModalContent>
        <form [formGroup]="updateForm">
          <div class="grid grid-cols-1 mb-2">
            <label for="name" class="block">Tên chi nhánh</label>
            <input
              type="text"
              id="name"
              class="w-full border border-gray-300 rounded-md px-3 py-2 outline-blue-300"
              formControlName="name"
            />
          </div>
          <div class="grid grid-cols-1">
            <label for="image" class="block">Hình ảnh</label>
            <input
              type="file"
              title="Chọn ảnh"
              accept="image/*"
              id="image"
              (change)="onFileSelectedUpdate($event)"
              class="w-full border border-gray-300 rounded-md px-3 py-2 outline-blue-300"
            />
          </div>
        </form>
      </ng-container>
    </nz-spin>
  </nz-modal>
</div>
