<app-navbar></app-navbar>
<div class="flex justify-center pt-52 pb-44 bg-gray-100">
  <div class="bg-white px-20 py-5 rounded-lg">
    <nz-spin
      [nzSpinning]="isSpinning"
      [nzSize]="'large'"
      nzTip="Đang gửi mã OTP..."
    >
      <h1 class="font-bold text-lg">Nhập email để lấy mã OTP</h1>
      <div class="flex justify-center">
        <input
          type="text"
          class="py-3 rounded-md outline-none border h-full border-gray-300 mt-3"
          [(ngModel)]="email"
        />
      </div>
      <div class="flex justify-center mt-2">
        <button
          class="bg-blue-500 hover:bg-blue-300 p-2 rounded-md text-white font-semibold"
          (click)="verify()"
        >
          Xác thực
        </button>
      </div>
    </nz-spin>
  </div>
</div>
