<div class="flex-grow mb-10">
  <app-navbar

  ></app-navbar>

  <div class="mt-20 w-10/12 mx-auto min-h-screen">
    <div class="pt-10">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-5">
          <img
            src="https://picsum.photos/200/300"
            alt=""
            class="h-40 w-40 rounded-full"
          />
          <h1 class="font-bold text-2xl">Ha Noi</h1>
        </div>
        <div class="">
          <p class="text-center cursor-pointer z-50">
            <span class="text-blue-600 hover:text-blue-400 font-bold text-2xl"
              >16</span
            >
            <br />
            công việc sẵn có
          </p>
        </div>
      </div>
      <hr class="my-10" />
      <div class="flex flex-col gap-2">
        <div>
          <p><span class="font-bold">Năm thành lập</span>&nbsp;1988</p>
        </div>
        <div>
          <p><span class="font-bold">Địa chỉ</span>&nbsp;Hà Nội</p>
        </div>
        <div>
          <p><span class="font-bold">Số lượng thành viên</span>&nbsp;7000</p>
        </div>
        <div>
          <p><span class="font-bold">Email</span>&nbsp;{{email}}</p>
        </div>
      </div>
      <div class="mt-4">
        <h1 class="text-xl">Thông tin mô tả</h1>
        <p class="text-gray-500">
          Hôm nay chúng ta sẽ viết một ứng dụng hiển thị danh sách các nhân viên
          trong công ty ABC vào trong ứng dụng Angular của mình. Công ty ABC sẽ
          cung cấp cho chúng ta một webservice. Khi gọi webservice này thì ta sẽ
          nhận được một đối tượng json.
        </p>
      </div>
    </div>
  </div>
</div>
